<!DOCTYPE html>
<html>
<body>

<h1>Results</h1>

<h3>{{ message }}</h3>

<!-- Displaying the parameters -->
<p>First Name: {{ firstname }}</p>
<p>Last Name: {{ lastname }}</p>
<p>Email: {{ email }}</p>

{% if primary_speciality == 'anesth' %}
<p>Primary Speciality: Anesthesiology</p>
{% elif primary_speciality == 'intmed' %}
<p>Primary Speciality: Internal Medicine</p>
{% elif primary_speciality == 'neuro' %}
<p>Primary Speciality: Neurology</p>
{% elif primary_speciality == 'patho' %}
<p>Primary Speciality: Pathology</p>
{% elif primary_speciality == 'psych' %}
<p>Primary Speciality: Psychiatry</p>
{% elif primary_speciality == 'fammed' %}
<p>Primary Speciality: Family Medicine</p>
{% elif primary_speciality == 'pedia' %}
<p>Primary Speciality: Pediatrics</p>
{% else %}
<p>Primary Speciality: Unknown</p>
{% endif %}

<p>Year of Application: {{ year_of_application }}</p>
<p>Graduation Year: {{ graduation_year }}</p>
<p>Step 1 Exam: {{ step1_exam }}</p>
<p>Step 1 Type: {{ step1_type }}</p>
<p>Step 1 Letter Grade: {{ step1_letter_grade }}</p>
<p>Step 1 Numerical Score: {{ step1_num_score }}</p>
<p>Step 1 Failures: {{ step1_failures }}</p>
<p>Step 2 Exam: {{ step2_exam }}</p>
<p>Step 2 Score: {{ step2_score }}</p>
<p>Step 2 Failures: {{ step2_failures }}</p>
<p>Step 3 Exam: {{ step3_exam }}</p>
<p>Step 3 Score: {{ step3_score }}</p>
<p>Step 3 Failures: {{ step3_failures }}</p>
<p>Visa Required: {{ visa_residency }}</p>
<p>Prior Residency: {{ prior_residency }}</p>
<p>Does your Prior Residency match primary specialty: {{ prior_residency_match }}</p>

<h2>Calculated Probability: {{ probability }}</h2>
<a href="/">Go back to input form</a>

</body>
</html>
